.module.page0 .date-block {
  left: 200px;
  z-index: 10;      /* 確保在畫面上層 */
}

.module.page0 .date-subtitle {
  position: absolute;
  bottom: -1527px;
  left: -850px;

  /* Figma Typography 對應 */
  color: var(--Text-Primary, rgba(255, 255, 255, 0.90));
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;         /* 即 44.8px */
  letter-spacing: 5px;
}


.module.page1 .date-block {
  left: 200px;
  z-index: 10;      /* 確保在畫面上層 */
}

.module.page1 .date-subtitle {
    position: absolute;
    white-space: nowrap;
    width: auto;
    overflow: visible;
    bottom: -1645px;
    right: -20px;

  /* Figma Typography 對應 */
  color: var(--Text-Primary, rgba(255, 255, 255, 0.90));
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;         /* 即 44.8px */
  letter-spacing: 5px;
}
/*2*/
.module.page2 .date-block {
  left: 200px;
  z-index: 10;      /* 確保在畫面上層 */
}

.module.page2 .date-subtitle {
    position: absolute;
    white-space: nowrap;
    width: auto;
    overflow: visible;
    bottom: -1645px;
    right: -20px;

  /* Figma Typography 對應 */
  color: var(--Text-Primary, rgba(255, 255, 255, 0.90));
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;         /* 即 44.8px */
  letter-spacing: 5px;
}

/*3*/
.module.page3 .date-block {
  left: 200px;
  z-index: 10;      /* 確保在畫面上層 */
}

.module.page3 .date-subtitle {
    position: absolute;
    white-space: nowrap;
    width: auto;
    overflow: visible;
    bottom: -1645px;
    right: -20px;

  /* Figma Typography 對應 */
  color: var(--Text-Primary, rgba(255, 255, 255, 0.90));
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;         /* 即 44.8px */
  letter-spacing: 5px;
}

/*4*/
.module.page4 .date-block {
  left: 200px;
  z-index: 10;      /* 確保在畫面上層 */
}

.module.page4 .date-subtitle {
    position: absolute;
    white-space: nowrap;
    width: auto;
    overflow: visible;
    bottom: -1645px;
    right: -20px;

  /* Figma Typography 對應 */
  color: var(--Text-Primary, rgba(255, 255, 255, 0.90));
  font-family: "Noto Sans TC", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;         /* 即 44.8px */
  letter-spacing: 5px;
}