.family-weather-wrapper {
  position: fixed;
  top: 60px;    /* 根據你 Figma UI 微調 */
  right: 80px;
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.family-weather-title {
  position: fixed;
  top: 116.5px;
  right: 105.09px;
  font-size: 32px;
  font-weight: 400;
  line-height: 120%;
}

.family-weather-status {
  font-weight: 500;
  margin-left: 8px;
  font-size: 32px;
}

.family-weather-icon {
  position: fixed;
  top: 201px;
  right: 156.59px;
  width: 124px;
  height: 124px;
  margin-top: 8px;
}
