.module.page0 .simple-temp {
  position: absolute;
  right: -40px;
  bottom: -850px; /* ✅ 建議從 figma 測量距離，這裡是假設值，你可以微調 */
  
  font-family: "Noto Sans TC";
  font-size: 100px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 即 110px 行高 */
  letter-spacing: 0.374px;
  color: rgba(255, 255, 255, 0.9);

}

.module.page1 .simple-temp {
  position: absolute;
  left: 50%;;
  bottom: -830px; /* ✅ 建議從 figma 測量距離，這裡是假設值，你可以微調 */
  
  font-family: "Noto Sans TC";
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 即 110px 行高 */
  letter-spacing: 0.374px;
  color: rgba(255, 255, 255, 0.9);

}
/*2*/
.module.page2 .simple-temp {
  position: absolute;
  left: 50%;;
  bottom: -830px; /* ✅ 建議從 figma 測量距離，這裡是假設值，你可以微調 */
  
  font-family: "Noto Sans TC";
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 即 110px 行高 */
  letter-spacing: 0.374px;
  color: rgba(255, 255, 255, 0.9);

}
/*3*/
.module.page3 .simple-temp {
  position: absolute;
  left: 50%;;
  bottom: -830px; /* ✅ 建議從 figma 測量距離，這裡是假設值，你可以微調 */
  
  font-family: "Noto Sans TC";
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 即 110px 行高 */
  letter-spacing: 0.374px;
  color: rgba(255, 255, 255, 0.9);

}
/*4*/
.module.page4 .simple-temp {
  position: absolute;
  left: 50%;;
  bottom: -830px; /* ✅ 建議從 figma 測量距離，這裡是假設值，你可以微調 */
  
  font-family: "Noto Sans TC";
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 即 110px 行高 */
  letter-spacing: 0.374px;
  color: rgba(255, 255, 255, 0.9);

}