.clock-grid {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 15px;
}

.clock-grid-left {
  flex-direction: row;
}

.clock-grid-right {
  flex-direction: row-reverse;
}

.clock-grid-top {
  flex-direction: column;
}

.clock-grid-bottom {
  flex-direction: column-reverse;
}

.clock-circle {
  place-self: center;
  position: relative;
  border-radius: 50%;
  background-size: 100%;  
}

.clock-face {
  width: 100%;
  height: 100%;
}

.clock-face::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin: -3px 0 0 -3px;
  background: var(--color-text-bright);
  border-radius: 3px;
  content: "";
  display: block;
}

.clock .clock-hour-digital,
.clock .clock-minute-digital {
  font-size: 100px;
  font-weight: 500;
  font-family: "Noto Sans TC", sans-serif;
  color: rgba(255, 255, 255, 0.9);
  line-height: 110%;
  letter-spacing: 0.374px;
}

.clock-second {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -38% -1px 0 0; /* numbers must match negative length & thickness */
  padding: 38% 1px 0 0; /* indicator length & thickness */

  /* background: #888888 !important; */

  /* use this instead of secondsColor */

  /* have to use !important, because the code explicitly sets the color currently */
  transform-origin: 50% 100%;
}

.module.clock .sun,
.module.clock .moon {
  display: flex;
}

.module.clock .sun > *,
.module.clock .moon > * {
  flex: 1;
}

.module.clock .clock-hour-digital {
  color: var(--color-text-bright);
}

.module.clock .clock-minute-digital {
  color: var(--color-text-bright);
}

.module.clock .clock-second-digital {
  color: var(--color-text-dimmed);
}
