.location-block {
  position: fixed;
  bottom: 298px;
  right: 96px;
  z-index: 10;
  display: flex;
  align-items: center;  /* 垂直置中對齊 */
  gap: 12px;             /* icon 和文字間距 */
}

.location-title {
  position: relative;
  font-size: 32px;
  font-family: "Noto Sans TC", sans-serif;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  line-height: 120%;
  top: -4px;
}

.location-icon {
  width: 48px;   /* 或與文字高度差不多，例如 32px */
  height: 48px;
  object-fit: contain; /* 保持圖示比例 */
  margin-bottom: -11px;
}