.location-block {
  position: fixed;
  top: 1550px;     /* 可自行調整縱向位置 */
  right: 96px !important;     /* 可自行調整橫向位置 */
  z-index: 10;
}

.location-title {
  font-size: 32px !important;
    font-family: "Noto Sans TC", sans-serif;
    color: rgba(255, 255, 255, 0.9);
}

.location-icon {
  width: 48px !important;
  height: 48px !important;
}
